# If you want Electrum to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-appimage.desktop

[Desktop Entry]
Comment=Lightweight Bitcoin Client (appimage packaged by Whonix developers)
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-appimage %u"
GenericName[en_US]=Bitcoin Wallet (appimage packaged by Whonix developers)
GenericName=Bitcoin Wallet (appimage packaged by Whonix developers)
Icon=electrum-appimage
Name[en_US]=Electrum Bitcoin Wallet (appimage packaged by Whonix developers)
Name=Electrum Bitcoin Wallet (appimage packaged by Whonix developers)
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-appimage --testnet %u"
Name=Testnet mode
